# General
.DS_Store
Thumbs.db
*.log

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
*.egg-info/

# Node
dist/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database
db.sqlite3
*.sqlite3

# Media
media/
static/
staticfiles/

# Docker
docker-compose.override.yml
